.description{
    flex-basis: 30%;
    /* max-width: 1080px; */
    text-align: center;
    margin-top: 30px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 3px dotted black;
    border-radius: 30px;
    transition:0.5s;
}

.description:hover{
    transform: translatey(-20px);
    max-width: none;
    font-size: 25px;
    padding: 50px;
}